{% extends "includes/base.html" %} 
{% block content %}
<head>
    <link rel="stylesheet" href="../static/style/before.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>

<h2 id="title"">Your appliances power usage are:</h2>

<div class="content">
    <h3>Television, Samsung: 80 Watts</h3>
    <h3>Washing Machine, Sharp: 80 Watts</h3>
    <h3>Air Conditioning, Mitsubishi: 80 Watts</h3>
    <h3>Fridge, LG: 80 Watts</h3>
</div>


<h3 id="cost">The total annual energy cost is $503</h3>
<div  class="row justify-content-center"><a class="btn btn-primary" href="after.html" role="button">our recommendation for you</a>
</div>



</body>
{% endblock %}