{% extends "includes/base.html" %} 
{% block content %}
<div class="container mt-3 pt-5">
    <form method="post">
        <script src="{{ url_for('static', filename='script/forms.js') }}" defer></script>
        <script src="{{ url_for('static', filename='script/filter-brands.js') }}" defer></script>
        <input type="hidden" name="index" id="index">
        <div id="forms" class=""></div>
        <div class="container-fluid d-flex justify-content-center mb-2">
            <div class="col-4 d-flex justify-content-between">
                <button type="button" class="btn btn-primary mx-2" onclick="addForm()"><i class="bi bi-plus-circle align-middle"></i> <span class="align-middle">Add</span></button>
                <button type="submit" class="btn btn-success mx-2" value="Calculate" name="submit"><i class="bi bi-calculator-fill"></i> <span>Calculate</span></button>
                <button type="button" class="btn btn-secondary mx-2" onclick="clearForm()"><i class="bi bi-trash-fill"></i> <span>Clear all</span></button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
