{% extends "includes/base.html" %} {% block content %}
<div class="container mt-5 pt-5">
  <form method="post" class="bg-light p-4 rounded shadow">
    <script
      src="{{ url_for('static', filename='script/forms.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='script/filter-brands.js') }}"
      defer
    ></script>
    <input type="hidden" name="index" id="index" />
    <div id="forms" class="mb-4"></div>
    <div class="d-flex justify-content-center">
      <div class="btn-group" role="group" aria-label="Form actions">
        <button type="button" class="btn btn-primary" onclick="addForm()">
          <i class="bi bi-plus-circle me-2"></i>Add
        </button>
        <button
          type="submit"
          class="btn btn-success"
          value="Calculate"
          name="submit"
        >
          <i class="bi bi-calculator-fill me-2"></i>Calculate
        </button>
        <button type="button" class="btn btn-secondary" onclick="clearForm()">
          <i class="bi bi-trash-fill me-2"></i>Clear all
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
