{% extends "includes/base.html" %} 
{% block content %}
<div class="container my-3 py-5">
    <form method="post">
        <script src="{{ url_for('static', filename='script/forms.js') }}" defer></script>
        <script src="{{ url_for('static', filename='script/filter-brands.js') }}" defer></script>
        <div id="forms" class=""></div>
        <div class="container-fluid d-flex justify-content-center mb-4">
            <div>
                <button type="button" class="btn btn-primary mx-2" onclick="addForm()">Add</button>
                <input type="submit" class="btn btn-success mx-2" value="Calculate" name="submit">
                <button type="button" class="btn btn-secondary mx-2" onclick="clearForm()">Clear all</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
