{% extends "includes/base.html" %} 

{% block head_css %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
<main class="container-fluid landing d-flex flex-column justify-content-start">
    <div class="content">
        <div class="info">
            <h2 class="text-uppercase mb-3 fw-bold">Love Nature<br><span>Save the Environment!</span></h2>
            <p class="mb-4 text-uppercase">Let's Do what we can to save the Earth! Every small action counts!</p>
            <p class="mb-4 text-uppercase">Environment plays an important role in healthy living and the existence of life on planet earth. Earth is a home for different living species and we all are dependent on the environment for food, air, water, and other needs. Let's all work together to save the Environment!</p>
            <a href="https://climate.nasa.gov/effects/" class="btn btn-light p-2 text-light text-uppercase">More info</a>
        </div><!-- info -->
    </div><!-- content -->

    
    <div class="media-icons d-flex justify-content-center align-items-center m-auto position-relative">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
    </div>
</main>

<!-- <div class="content2 d-flex justify-content-evenly " >
    <div class ="info2">
        <h2 class="text-uppercase mb-3 fw-bold"><span>We need you!</span></h2>
        <p class="mb-4 text-uppercase">Saving the environment begins with contribuition  made by individuals like you and Energy Calculator will help to make that possible!</p>
        <p class="mb-4 text-uppercase">Energy calculator will help you make enviromentally friendly choices when it comes to your appliances at home!</p>
        <a href="calculator" class="btn btn-light p-2 text-light text-uppercase">Click for calculator</a>
    </div>

    <div class="text-right">
        <img  src="{{ url_for('static', filename='src/logo.png') }}"></img>
    </div>
    
</div> -->
<div class="container d-flex justify-content-between align-items-center">
    <div class ="info2">
        <h2 class="text-uppercase mb-3 fw-bold"><span>We need you!</span></h2>
        <p class="mb-4 text-uppercase">Saving the environment begins with contribuition  made by individuals like you and Energy Calculator will help to make that possible!</p>
        <p class="mb-4 text-uppercase">Energy calculator will help you make enviromentally friendly choices when it comes to your appliances at home!</p>
        <a href="calculator" class="btn btn-light p-2 text-dark text-uppercase">Click for calculator</a>
    </div>
    <div class="">
        <img src="{{ url_for('static', filename='src/logo.png') }}" width="180"></img>
    </div>
</div>


<div class="content3" >
    <div class ="info3">
        <h2 class="text-uppercase mb-3 fw-bold"><span>The time is now!</span></h2>
        <p class="mb-4 text-uppercase">The interactive board by NASA below shows the continious deterioration of the environment over a span of a few decades due to climate change.</p>
        <p class="mb-4 text-uppercase">This furthur brings across the urgency for us to act now and stop climate change once and for all! </p>
       
    </div>

    
</div>


<div class = "nasa">
    <iframe src="https://climate.nasa.gov/interactives/climate_time_machine"></iframe>
</div>


{% endblock %}