{% extends "includes/base.html" %} 
{% block content %}

<head>
    <link rel="stylesheet" href="../static/style/home.css ">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <h1>Welcome to energy Calculator website</h1>
    <h2>Where we try to make an impact on the environement through technology</h2>
    <h6>Please excuse the ugly ass frontpage gf, shin and jon</h6>
</head>

<body>
    <div  class="row justify-content-center">    
        <a class="btn btn-primary mx-2"  href="calculator" role="button">To Calculator</a>
    </div>
</body>



{% endblock %}