  {% extends "includes/base.html" %} 

  {% block head_css %}
  {% endblock %}
  
  {% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
  <div class="containerlanding d-flex flex-column justify-content-start hero">
	  <div class="content ms-5">
		  <div class="info">
			  <h2 class="text-uppercase mb-3 mt-5 fw-bold">Love Nature<br><span>Save the Environment!</span></h2>
			  <p class="mb-4 text-uppercase">Let's Do what we can to save the Earth! Every small action counts!</p>
			  <p class="mb-4 text-uppercase">Environment plays an important role in healthy living and the existence of life on planet earth. Earth is a home for different living species and we all are dependent on the environment for food, air, water, and other needs. Let's all work together to save the Environment!</p>
			  <a href="https://climate.nasa.gov/effects/" class="special-button btn btn-light p-2 text-light text-uppercase">More info</a>
		  </div><!-- info -->
	  </div><!-- content -->
  </div>
  
  <div class="pt-5">
	  <div class="ms-4 col-11">
		  <h1 class="text-uppercase mb-3 fw-bold text-white"><span>The Graph</span></h1>
		  <p class="mb-4 text-uppercase">This graph refers to the total electricity consumption by end users, including (embedded) consumption by autoproducers.  From Jan 2016, data have incorporated consumption of output from solar generation.</p>
		  {% include 'includes/graph.html' %}
	  </div>
  </div>
  
  <div class="container-fluid d-flex justify-content-center flex-wrap text-center mb-3" style="margin-top:200px;">
	  <h1 class="text-uppercase mb-3 fw-bold text-white"><span>The time is now!</span></h1>
	  <p class="mb-3 text-uppercase col-10">The interactive board by NASA below shows the continious deterioration of the environment over a span of a few decades due to climate change.</p>
	  <p class="mb-4 text-uppercase col-10">This furthur brings across the urgency for us to act now and stop climate change once and for all! </p>
	  <iframe src="https://climate.nasa.gov/interactives/climate_time_machine"></iframe>
  </div>
  <div class="block"></div>
<link rel="stylesheet" href="{{url_for('static', filename='style/login.css')}}">
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form method="post">
			<fieldset>
				<legend class="text-uppercase fw-bold">Login</legend>
				<div class="form-group">
					{{ form.email.label(class="form-control-label") }}		
					{% if form.email.errors %}
						{{ form.email(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class="form-control") }}
					{% endif %}                        
				</div>

				<div class="form-group">
					{{ form.password.label(class="form-control-label") }}		
					{% if form.password.errors %}
						{{ form.password(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control") }}
					{% endif %}                        
				</div>

				<div class="form-group">
					{{form.submit(class="btn submit-btn text-uppercase fw-bold text-white")}}
				</div>

			</fieldset>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hello There!</h1>
				<p>Are there any better ways to help the environment?</p>
				<a class="ghost" id="signUp" href="/"><button>Back</button></a>
			</div>
		</div>
	</div>
</div>

  {% endblock %}