/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;

  }

#navbar{
    /* z-index: ; */
    background-color: white;
}

/*navbar link animations*/
.navbar-nav {
  position: relative;
}

.navbar-nav .nav-item a {
  position: relative !important;
}

nav .container-fluid .collapse .navbar-nav .nav-item a:after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover:after {
  width: 100% !important;
}

.btn-danger{
  margin-left:auto;
  margin-right:0;
}

.block {
  width: 100vw;
  height: 100vh;
  background: #000;
  position: fixed;
}

.pad {
  /* background: #000; */
  height: 11vh;
}