body {
    overflow-x: hidden !important;
    margin-bottom: 2em;
}

h1 {
    text-align: center;
    padding-top: 3%;
}

h3 {
    text-align: center;
    padding-top: 1%;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.graph {
    margin-left: 5%;
}

.mainstate {
    margin-left: 1%;
    margin-right: 13%;
    font-size: 21px;
}