* {
    font-family: "Poppins", sans-serif !important;
}

body {
    overflow-y: hidden !important;
    background-color: #72dffe;
}

.ticks {
    filter: brightness(1.24);
    width: 100px;
    padding-left: 10px;
}