/*for base.html*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    font-family: "Poppins", sans-serif !important;
    overflow-x: hidden !important;
}

.form-group {
    width: 50%;
    margin: auto;
    font-family: monospace;
}

ul {
    list-style-type: none ;
}

.btn-primary{
    width: 10%;
    margin: 0px;
    font-family: monospace;
}

.btn-success{
    width: 10%;
    margin: 0px;
    font-family: monospace;
}
